body {
  background-color: black;
  font-family: "roboto medium";
  color: white;
  text-align: left;
}

.count1 {
  font-size: 50px;
  margin-left: 5px;
  margin-top: -35px;
}

.count2 {
  font-size: 50px;
  margin-left: 5px;
  margin-top: -35px;
}

.count3 {
  font-size: 50px;
  margin-left: 5px;
  margin-top: -35px;
}

.card1 {
  margin-top: 0px;
}

.card2 {
  margin-top: 10px;
}

.card3 {
  margin-top: 10px;
}

.gr {
  font-size: 25px;
  color: yellow;
}

.btn1 {
  align-items: center;
  border-radius: 100px;
  background-color: black;
  height: 20px;
  width: 80px;
  position: absolute;
  border: solid 2px rgb(255,100,255);
  color: white;
  text-align: center;
  transition: 300ms;
}

.btn1:hover {
  transition: 300ms;
  background-color: rgb(255,100,255);
  box-shadow: 0 0 5px rgb(255,100,255), 0 0 10px rgb(255,100,255);
}

.btn2 {
  transition: 300ms;
  margin-left: 90px;
  align-items: center;
  border: solid 2px rgb(255,100,255);;
  border-radius: 100px;
  background-color: black;
  height: 20px;
  width: 80px;
  position: absolute;
  color: white;
  text-align: center;
}

.btn2:hover {
  transition: 300ms;
  background-color: rgb(255,100,255);
  box-shadow: 0 0 5px rgb(255,100,255), 0 0 10px rgb(255,100,255);
}

.card4 {
  margin: 5px 0px;
}

.searchbar {
  background-color: rgb(24, 24, 24);
  border: none;
  border-radius: 3px;
  height: 20px;
  width: 240px;
  color: white;
  font-family: "roboto medium";
  transition: 300ms;
}

.searchbar:hover {
  transition: 300ms;
  background-color: rgb(44, 44, 44);
}

.user-name {
  font-family: "ubuntu medium";
  font-size: 18px;
  color: rgb(123, 123, 123);
  margin-top: -0px;
}

.current {
  font-family: "roboto";
  font-size: 12px;
  color: rgb(78, 78, 78);
}
